:root,
:root:root,
html:root,
body:root,
.ion-page,
ion-app {
    /* ===== COLORES BASE ===== */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-white-light: #f1f1f1;
    --color-gray: #333333;

    /* ===== COLORES INSTITUCIONALES ===== */
    --color-principal: #1a0a0e;
    --color-secundario: #d90a46;
    --color-tercero: #ffcfd9;

    /* ===== COLORES INSTITUCIONALES (DERIVADOS DIRECTOS) ===== */
    --color-primary-dark: #3c171c;
    --color-bg-dark: #2c1115;
    --color-tercero-light: #ffcfd9;

    /* Overlay y fondos */
    --color-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-bg-overlay-light: rgba(0, 0, 0, 0.4);

    /* ===== COLORES DE ESTADO ===== */
    --color-exito: #00811e;
    --color-advertencia: #ffc107;
    --color-peligro: #ff0019;

    /* ===== COLORES DE ACCIONES ===== */
    --color-accion-view: #0d6efd;
    --color-accion-edit: #ffc107;
    --color-accion-add: #198754;
    --color-accion-devolucion: #6f42c1;
    --color-accion-cocina: #fd7e14;
    --color-accion-print: #6c757d;
    --color-accion-trash: #dc3545;
}